@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("fonts.css");
*, *::before, *::after{
    /* p+d=w */
    box-sizing: border-box;
}
/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main{
    display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 가상요소 clearfix 제작 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 숨김 콘텐츠 */
.readable-hidden, .skip-nav{
    background-color: yellow;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin:-1px;
    clip: rect(0,0,0,0);
}
/* 동적으로 보이도록 처리 */
.skip-nav:focus{
    width: 100%;
    height: auto;
    padding: 1em;
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    clip: rect(auto,auto,auto,auto);
    z-index: 100;
}
/* 본문 스타일 */
html{
    font-size: 10px;
}
body{
    color: #181818;
    background:  url("images/bg_flower.png") no-repeat 50% 0, 
    linear-gradient(to bottom, #aaa 0%, #eee 40%, #fff 60%, #fff 100%) repeat; 
    background-color: #aaa;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}
/* 하이퍼링크 스타일 */
a{
    color: inherit;
    text-decoration: none;
}
*, *::before, *::after{
    box-sizing: border-box;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: #fff;
    position: relative;
    padding: 0 30px;
    border-radius: 0 0 15px 15px; 
}
/* 로고 */
.logo{
    position: absolute;
    top: 50px;
    left: 65px;
    z-index: 100;
}
/* 멤버 링크 */
.member {
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    padding: 2px 0 2px 0;
    font-size: 0;
}
.member li, .member a{
    display: inline-block;
}
.member li{
    font-size: 1.4rem;
}
.member a{
    text-transform: uppercase;
    padding: 8px 10px;
}
.member li:nth-child(n+2)::before{
    content: ":";
}
/* 메인메뉴 */
.navigation{
    padding-bottom: 40px;
    display: block;
}
.menu{
    border-top: 2px solid #000;
    background: #f37335;  /* Old browsers */
    background-image: linear-gradient(to bottom, #fdc830 0%, #f37335 30%, #f37335 70%, #fdc830 100%);
    padding-left: 225px;
    border-radius: 0 0 5px 5px;
    height: 47px;
}
.menu-item{
    float: left;
    border-left: 2px solid rgba(255, 255, 255, .5);
    position: relative;
}
.menu-item:focus, .sub-menu a:focus{
    outline: 0;
}
.menu-act .menu-item-text{
    color: #ff0;
}
.menu-act .menu-item-text::after{
    content: "";
    display: block;
    border-top: 2px solid #000; 
}
.menu-item-text{
    font-size: 1.6rem;
    font-weight:  700;
    color: #fff;
    text-shadow: 1px 1px 0 #000, 
                 0px 1px 0 #000,
                 -1px 0 0 #000,
                 0 -1px 0 #000;
    padding: 0 20px;
    display: block;
    line-height: 45px;
}
/* menu-act일때 즉 메인메뉴를 hover했을때 display 변경 */
.menu-act .sub-menu{
    display: block;
}
.sub-menu{
    position: absolute;
    top: 47px;
    white-space: nowrap;
    display: none;
}
.menu-item:nth-child(-n+3) .sub-menu{
  left: 0;
}
.menu-item:nth-child(n+4) .sub-menu{
  right: 0;
}
.sub-menu li, .sub-menu a{
    display: inline-block;
}
.sub-menu a{
    padding: 10px 0;
    margin-right: 10px;
}
/* 비주얼 */
.visual{
    background: transparent;
    position: relative;
    min-height: 120px;
}
.visual-text{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:2rem;
    font-weight: 700;
    top: 75px;
    left: 400px;
    animation: text-ani 1s;
    /* 애니메이션 동작 초기화/유지 */
    animation-fill-mode:forwards;
    z-index: 100;
}
.visual::before, .visual::after{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    /* animation: flower-ani 2s; */
    /* 애니메이션이 한번은 정순으로, 한번은 역순으로 서로 교차하면서 재생 */
    /* animation-direction: alternate; */
    /* 애니메이션이 무한 반복 */
    /* animation-iteration-count: infinite; */
    /*  애니메이션 속기법 
        animation: name duration timing-function delay iteration-count direction fill-mode;
    */
    animation: flower-ani 2s forwards infinite alternate cubic-bezier(.72,.01,1,.64);
    background-repeat: no-repeat;
}
.visual::before{
    background-image: url(images/ani_flower_01.png),url(images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0; 
}
.visual::after{
    background-image: url(images/ani_flower_03.png),url(images/ani_flower_04.png);
    background-position: 300px 35px, 800px 65px; 
    animation: 1s;
}
@keyframes text-ani{
    0%{
        font-size:12px;
        opacity: .2;
        top:0;
        left: 0;
    }
    100%{
        font-size: 24px;
        top:75px;
        left: 400px;
        opacity: 1;
    }
}
@keyframes flower-ani{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* 메인 */
.main{
    background: #fff;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0;
}
.group1{
    background: yellow;
    width: 250px;
}

.group2{
    background:skyblue;
    width: 380px;
}
.group3{
    width: 190px;
    background: pink;
}
